*{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
    color: #fff;
}

 body{
    background-color: blueviolet;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
 }
 .login-section{
    border: 2px solid #ff0000;
    height: 490px;
    width: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    transition: .3s;
    overflow: hidden;

 }
 .login-section:hover{
    box-shadow: 0 0 60px #ff0000;
 }
 .login-section .formbox{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100%;
    width: 100%;
 }
 .formbox h2{
    text-align: center;
    font-size: 35px;
 }
 .formbox .input-box{
    width: 340px;
    height: 50px;
    border-bottom: 2px solid #fff;
    margin: 30px 0;
    position: relative;
    
 }
 .input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    padding-right: 28px;
    color: #fff;
 }
  .input-box label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    transition: .3s ease;
 }
 .input-box .icon{
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 19px; 
 }
 .input-box input:focus ~label,
 .input-box input:valid ~ label{
    top: -5px;
    color: #ff0000;
    font-weight: 600;
 }
 .btn{
    background-color: #fff;
    width: 100%;
    height: 45px;
    outline: none;
    border: none;
    border-radius: 45px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    background: #ff0000;
    box-shadow: rgba(0, 0, 0, 0.4);

 }